body {
border: solid;
border-radius: 10px;

}

.abc {
    background-color: olivedrab;

}

.def {
    border: solid;
    border-radius: 10px;
    border-color: blueviolet;

}

img {
    height: 50px;
    width: 50px;

}
