body {
border: solid;
border-radius: 10px;

}

.abc {
    background-color: gold;

}

.def {
    border: solid;
    border-radius: 10px;
    border-color: slategray;
    border-width: 5px;

}

img {
    height: 50px;
    width: 50px;

}
